<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content=""
    />
    <meta name="color-scheme" content="light dark">

    <title>Blog Admin</title>

    <link rel="stylesheet" href="/dist/bootstrap.css">
    <link rel="stylesheet" href="/dist/shared.css">
    <link rel="stylesheet" href="/dist/admin/styles.css">
    <link rel="stylesheet" href="/dist/web-components.css">

    <%# <script src="/dist/bootstrap.js"></script> %>
  </head>
  <body>
    <%- body %>

    <script src="/dist/web-components.js" defer></script>
    <script src="/dist/admin/scripts.js" defer></script>
    <script src="/dist/shared.js" defer></script>
  </body>
</html>
