<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content=""
    />
    <meta name="color-scheme" content="light dark">

    <title>Blog</title>

    <link rel="stylesheet" href="/dist/css/shared.css">
    <link rel="stylesheet" href="/dist/css/blog/main.css">
    <script src="/dist/scripts/important.js"></script>
  </head>
  <body>
    <%- body %>

    <script src="/dist/scripts/async.js" async></script>
    <script src="/dist/scripts/shared.js" async></script>
  </body>
</html>
