<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content=""
    />
    <meta name="color-scheme" content="light dark">

    <title><%= title ? `${title} - Blog` : 'Blog' %></title>

    <link rel='icon' type='image/svg+xml' href='/images/favicon.svg'>

    <link rel="stylesheet" href="/dist/bootstrap.css">
    <link rel="stylesheet" href="/dist/shared.css">
    <link rel="stylesheet" href="/dist/blog/styles.css">
    <link rel="stylesheet" href="/dist/webComponents.css">

    <%# <script src="/dist/bootstrap.js"></script> %>
  </head>
  <body>
    <%- body %>

    <script src="/dist/webComponents.js" defer></script>
    <script src="/dist/blog/scripts.js" defer></script>
    <script src="/dist/shared.js" defer></script>
  </body>
</html>
