@import "../variables";

.right-side {
  $width: 375px;
  width: 100vw;
  max-width: $width;

  @media (min-width: $lgMin) {
    width: $width;
  }

  .or {
    text-align: center;
    position: relative;

    &::before {
      content: '';
      height: 1px;
      width: calc(100% - 100px);
      left: 50px;
      top: 55%;
      background-color: var(--color);
      display: block;
      position: absolute;
      z-index: 0;
      opacity: .2;
    }

    .or-text {
      background: var(--background-color);
      padding: 0 10px;
      position: relative;
      font-size: .8em;
    }
  }
}
