<h5 class="text-center mb-5">Welcome to the Blog!</h5>

<% if (error) { %>
  <div class="alert alert-danger" role="alert"><%=error%></div>
<% } %>

<form action="/login" method="post" class="d-flex flex-column align-items-center ">
  <div class="form-group">
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" name="_username" required="required" class="input auth-input">
  </div>

  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" name="_password" required="required" class="input auth-input">
  </div>

  <div class="form-group text-center mt-4">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" class="button primary large">Log In</button>
  </div>
</form>

Don't have an account yet? <a href="/auth/register">Create an Account</a>
